.parcial a{
/*     background-color : black !important; */
   background-color :  #add8e6 !important;
    background-image :none !important;
    color: black !important;
}

.completo a{
/*     background-color : black !important; */
 background-color :   #90ee90 !important;
    background-image :none !important;
    color: black !important;
}