.parcial a{
    background-color : #add8e6 !important;
    background-image :none !important;
    color: black !important;
}

.completo a{
    background-color : #90ee90 !important;
    background-image :none !important;
    color: black !important;
}